/* href */
a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 16px
}

/*
td {
  border-top: 1px solid red;
  border-left: 1px solid red;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  margin: 0;
  padding: 0;
}
*/

strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 750;
}

heading {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 24px;
}

.paper-img {
  width: 120px;
  height: 120px;
  position: relative;
}

paper-title {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700
}

.paper-info {
  color: #323232;
  padding-top: 0px;
  padding-bottom: 8px;
}

.block-text {
  font-family: 'Lato',
    Verdana,
    Helvetica,
    sans-serif;
  font-size: 16px;
  font-weight: 750;

  background-color: #CCCCCC;
  border-radius: 15px;
}


name {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 30px;
}